@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400&family=Rokkitt:wght@100;200;300;400;500;600&display=swap');
:root {
	--corTopicoDivisor: #cf8a05;
	--corTexto-contato: #181818;
	--corFundo: #f3f3f3;
	--corTitulo-subTitulo: #444444 ;
	--corDivisorias: #dedede;
	/* Fontes */
	--fontTitulo: 'Rokkitt';
	--fontGeral: 'Lato';
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

/* Corpo do currículo */

#cv{
	width: 800px;
	margin: 0 auto;
	background-color: var(--corFundo);
	padding: 0 10px;
}

/* Área superior */

#mainDetails{
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;

	border-bottom: 2px solid var(--corTopicoDivisor);
	padding: 30px 40px 0 40px;
}

#mainDetails img{
	border-radius: 50%;
}

#name{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#contactDetails{
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: var(--corTexto-contato);
}

a{
	color: var(--corTexto-contato);
}

.clear{
	border-bottom: 1px solid var(--corDivisorias);
	padding-bottom: 25px;
	grid-area: l;
}

/* Área de conteúdo */

.grid-corpo{
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-areas: "e d"
						 "l l";

	padding: 0 25px;
}

.sectionTitle{
	grid-area: e;
	padding-top: 15px;
	padding-left: 10px;
	color: var(--corTopicoDivisor);
	font-style: italic;
}

.sectionContent{
	grid-area: d;
	padding-top: 10px;
	color: var(--corTexto-contato);
}

h2{
	color: var(--corTitulo-subTitulo);
	font-family: var(--fontTitulo);
	padding-top: 10px;
}

.subDetails{
	color: var(--corTitulo-subTitulo);
	font-family: var(--fontTitulo);
	font-style: italic;
	padding-bottom: 10px;
}

.keySkills{
	columns: 3;
}